@charset "UTF-8";
/* сброс стилей браузера */
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

main {
  display: flex;
  flex-direction: column; }

body {
  display: flex;
  background-color: #331D15;
  background-image: url(../assets/img/page-background.jpg);
  background-size: 100% 100%;
  justify-content: center;
  font-family: "Arial", "sans-serif";
  background-attachment: fixed;
  font-size: 17px;
  color: white; }

#field {
  background-color: #547980;
  width: 500px;
  height: 500px;
  margin-top: 50px;
  position: relative; }

#version {
  width: 480px;
  height: 80px;
  margin: auto;
  color: white;
  font-size: 18px;
  display: flex; }

#wintime, #winquant {
  margin: 10px auto 10px;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #e5fcc2; }

#field, #block, #winblock {
  border-radius: 5px;
  background: linear-gradient(160deg, #547980, #83bb9d 30%, #547980); }

#winblock {
  height: 600px;
  display: flex;
  align-content: space-between; }

#quant, #timer {
  width: 50%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #e5fcc2; }

#or {
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  color: #e5fcc2; }

#mouse {
  margin-right: -8%; }

.inform {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 100px;
  background-color: #547980;
  margin-top: 50px;
  border-radius: 5px; }

.start_block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-top: 210px;
  background-color: #547980;
  color: white;
  animation-name: animate;
  animation-duration: 0.5s; }

.start_name {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #e5fcc2; }

.start_button {
  width: 50%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Arial", "sans-serif";
  color: white;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(20deg, #b3e8b3, #9de0ad, #b3e8b3);
  border-radius: 5px;
  border: none; }

.start_text {
  margin-left: 20px;
  margin-right: 20px; }

.start_button:hover {
  color: #547980;
  background: #e5fcc2;
  border: none;
  transition: background-color 0.5s, color 0.5s; }

.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center; }

.hide {
  animation-name: hiding;
  animation-duration: 0.5s; }

.wininf {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-top: -10px;
  margin-bottom: -10px; }

.wininf .start_button {
  height: 75px;
  width: 215px;
  margin-top: auto; }

.how_popup {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 335px;
  animation-name: animate;
  animation-duration: 0.5s;
  background: rgba(127, 181, 154, 0.5);
  border-radius: 5px; }

.image {
  width: 240px;
  height: 240px;
  margin: auto; }

.cell {
  width: 105px;
  height: 105px;
  position: absolute; }

.cellnull {
  background-color: rgba(157, 224, 173, 0.4);
  border-radius: 10px;
  border: rgba(157, 224, 173, 0.3) solid 1px; }

.tilenull {
  background: linear-gradient(130deg, #9de0ad 5%, #e5fcc2 95%);
  color: #594f4f;
  font-size: 55px;
  font-family: "Britannic Bold";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: #9de0ad solid 1px; }

.tilenull:hover {
  background: linear-gradient(130deg, #ddf9c0 95%, #f9ffde 5%); }

@keyframes animate {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes hiding {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
